@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Playwrite+NZ+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
.t {
font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

.h {
    font-family: "Science Gothic", sans-serif;
}